<%-include('../partials/header')%>
<body>
	<div class="my-5">
		<div class="p-5 text-center bg-body-tertiary">
			<div
				class="container py-5"
				style="background-color: rgb(145, 140, 131)"
			>
				<h1 class="text-body-emphasis">Awesome!</h1>
				<p class="col-lg-8 mx-auto lead">
					Thanks, you have successfully signed up
					for my newsletter.
				</p>
			</div>
		</div>
	</div>
</body>
<%-include('../partials/footer')%>
