<%- include('./partials/header'); -%>
<div class="maincontainer">
	<h1>Compose</h1>
	<form action="/compose" method="post">
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label"
				>Post Title</label
			>
			<input
				type="text"
				name="blgtit"
				class="form-control"
				id="exampleFormControlInput1"
				placeholder="e.g-How to manage time."
			/>
		</div>
		<div class="mb-3">
			<label
				for="exampleFormControlTextarea1"
				class="form-label"
				>Post content</label
			>
			<textarea
				class="form-control"
				name="blogcont"
				id="exampleFormControlTextarea1"
				rows="3"
				placeholder="Write"
			></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Publish</button>
	</form>
</div>
<%- include('./partials/footer'); -%>
