<%-include('./partials/header')%>
<body class="flex-main align-items-center py-4">
	<div class="imagediv col-md-6 col-lg-6 col-xl-6">
		<img
			src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
			class="img-fluid"
			alt="Sample image"
		/>
	</div>
	<main class="form-signin col-md-6 col-lg-6 col-xl-6">
		<form action="/" method="post">
			<img />
			<h1
				class="Loginheading h3 mb-3 fw-normal"
				style="margin-left: 35%"
			>
				Login
			</h1>

			<div class="form-floating">
				<input
					type="email"
					class="form-control"
					id="floatingInput"
					placeholder="name@example.com"
					name="eemail"
				/>
				<label for="floatingInput">Email address</label>
			</div>
			<div class="form-floating">
				<input
					type="password"
					class="form-control"
					id="floatingPassword"
					placeholder="Password"
					name="passwd"
				/>
				<label for="floatingPassword">Password</label>
			</div>
			<button
				class="btn btn-primary w-100 py-2"
				type="submit"
			>
				Login
			</button>
			<p class="register py-2">Don't have an account yet?</p>
		</form>
		<a href="/register">
			<button class="btn btn-primary w-100">Register</button>
		</a>
	</main>
</body>

<%-include('./partials/footer')%>
